.portfolio {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  @include edge-padding;
  padding-top: 5rem;
  padding-bottom: 10rem;

  &__filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: #{fluid(20px, 30px)};
    gap: #{fluid(13px, 15px)};

    &-item {
      box-shadow: none;
      border: none;
      cursor: pointer;
      background: $faded-purple;
      color: $font-color;
      font-family: $main-font;
      font-size: #{fluid(15px, 20px)};
      font-weight: 700;
      padding-left: 5px;
      border-radius: 12px;
      outline: 2px solid transparent;
      transition: 0.25s ease-in-out;
      display: flex;
      align-items: center;

      &--active {
        outline-color: $font-color;
      }
      &:hover {
        outline-color: $font-color;
      }
      &-icon {
        background: $font-color;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: 6px 5px;
        margin-left: 8px;
        height: 101%;
        display: inline-block;
      }
    }
  }
  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: #{fluid(10px, 20px)};
    justify-content: center;

    &-item {
      opacity: 0.5;
      transition: 0.25s ease-in-out;
      grid-area: 1 / 1 / 2 / 2;
      transform: translateY(-10px);
      z-index: 0;
      max-width: #{fluid(135px, 325px)};
      padding: #{fluid(5px, 10px)};
      border-radius: 12px;
      cursor: not-allowed;
      background: rgba(0, 0, 0, 0.5);
      pointer-events: none;

      &--active {
        transform: translateY(0px);
        opacity: 1;
        z-index: 1;
        cursor: pointer;
        background: $faded-purple;
        pointer-events: all;

        &:hover {
          box-shadow: 0px 0px 14px $light-purple;
          transform: scale(1.15);
          z-index: 2;
        }
      }
      &-img {
        margin-bottom: 1rem;
      }
      &-title {
        font-family: $main-font;
        color: $font-color;
        margin-bottom: #{fluid(10px, 16px)};
        font-size: #{fluid(20px, 36px)};
      }
      &-tools {
        font-family: $main-font;
        font-size: #{fluid(12px, 17px)};
        font-weight: 600;
        margin-bottom: 1rem;
        display: flex;
        gap: #{fluid(8px, 10px)};
        flex-wrap: wrap;

        &-inner {
          border-radius: 12px;
          background: $font-color;
          color: $faded-purple;
          width: auto;
          padding: 3px #{fluid(7px, 10px)};
          word-break: break-all;
          white-space: nowrap;

          &--active {
            background: $active-bg;
            color: $active-fc;
          }
          &--comingsoon {
            background: $comingsoon-bg;
            color: $comingsoon-fc;
          }
          &--ecomm {
            background: $ecomm-red;
            color: $ecomm-yellow;
          }
          &--vuenuxt {
            background: $vue-blue;
            color: $vue-green;
          }
          &--wordpress {
            background: $wordpress-blue;
            color: $active-fc;
          }
        }
      }
    }
    &-link {
      outline: 5px solid transparent;
      transition: 0.25s ease-in-out;
      height: 100%;

      img {
        vertical-align: bottom;
      }
      &:hover,
      &:focus {
        outline-color: #b629f2;
      }
    }
  }
  &__title {
    font-family: $main-font;
    font-size: #{fluid(26px, 38px)};
    font-weight: 600;
    background: -webkit-linear-gradient(left, #3700ff 0%, #b629f2 45%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2.5rem;
    text-align: center;
  }
}
