.facts {
  height: 100%;
  width: 100%;
  position: fixed;
  background: $purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 20;
  transition: 1s ease-in-out;
  @include edge-padding;

  &__row {
    display: flex;
    flex-direction: row;
    margin-top: #{fluid(20px, 40px)};

    @include mobile-break {
      flex-direction: column;
      justify-content: center;
    }

    &-btn {
      display: block;
      padding: 10px #{fluid(10px, 20px)};
      border-radius: 8px;
      border: none;
      font-size: #{fluid(14px, 26px)};
      cursor: pointer;
      background-image: linear-gradient(
        190deg,
        rgba(175, 39, 242, 0.6),
        rgba(64, 3, 254, 0.6)
      );
      font-family: $main-font;
      color: $font-color;
      transition: 0.25s ease-in-out;
      text-align: center;
      margin-right: 20px;

      @include mobile-break {
        margin-right: 0;
        margin-bottom: 10px;
      }

      &:hover {
        box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.4);
        opacity: 1;
        transform: scale(1.05);
      }

      &:last-child {
        margin-right: 0;
      }

      &--hollow {
        background: transparent;
        border: 2px solid $font-color;
      }
    }
  }

  &__fact {
    font-family: $main-font;
    color: $font-color;
    font-size: #{fluid(14px, 26px)};
    max-width: #{fluid(300px, 1000px)};
    text-align: center;
  }

  &__img {
    width: #{fluid(120px, 350px)};
    height: #{fluid(120px, 350px)};
    margin-bottom: #{fluid(20px, 35px)};
  }

  &__title {
    font-family: $main-font;
    color: $font-color;
    font-size: #{fluid(18px, 40px)};
    margin-bottom: #{fluid(10px, 20px)};
  }
}
