.footer {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(5rem + 1vw);
  @include edge-padding;

  &__copyright {
    font-family: $main-font;
    color: $font-color;
    // font-size: 1rem
    font-size: #{fluid(14px, 20px)};
    text-align: center;
  }

  &__socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.8rem;

    &-link {
      transition: 0.25s ease-in-out;
      // Safari is stupid... can't use flex gap
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        transform: translateY(-5px);
        fill: $vue-green;
      }

      &-icon {
        width: calc(40px + 1vw);
        height: calc(40px + 1vw);
        fill: #d0d5f2;
        transition: 0.25s ease-in-out;

        &:hover {
          fill: $react-blue;
        }
      }
    }
  }
}
